.container{
    display: flex;
    align-items: center;
   
    width: 300px;
        height: 40px;
border-radius: 10px;
    border: 2px solid #ffff;
    background-color: #ffff;;
}
.inputSearch{
    width: 280px;
    height: 30px;
    padding: 3px;
    outline: none;
    border: none;
}
