@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swaphttps: //fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
.container{
width: 250px;
height: 250px;
background-color: rgba(77, 77, 77, .200);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
   margin:50px
   
   
}
.content{   
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    user-select: none;
    pointer-events: none;
}
.name{
font-family: 'Rajdhani';
font-size: 25px;
font-weight: 600;
color:#FFFFFF;
    margin-top: 15px;
}
.lineStyle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    font-family: 'Rajdhani';
        font-size: 25px;
        color: #FFFFFF;
        justify-content: center;
}